<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists and Locations</title>
   <link rel="stylesheet" href="../static/index.css">
</head>
<body>
 
    <div class="heading"><h1>ARTISTS</h1>
    <div class="mode">
        <button onclick="toggleMode()">Change Mode</button>
    </div>
  
</div>

        
    <div class="content">
        <div class="card-grid" id=" artist-List">
            {{ range . }}
            <div>
                <h2>{{.Name}}</h2>
                <div class="image">
                    <a href="/locations/{{.ID}}"><img src="{{.Image}}" alt="Image of {{.Name}}"></a>
                </div>
                <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
                <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
                <button> <a href="/locations/{{.ID}}">More Details</a> </button>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<script src="../static/mode.js"></script>
</body>
</html>
